<nz-layout class="user-layout">
  <nz-sider
    class="user-sider"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzWidth="260px"
    nzTheme="dark"
  >
    <div class="sider-logo" [class.collapsed]="isCollapsed">
      <img src="daam-logo.png" alt="DAAM" class="sider-logo-img" />
      <span *ngIf="!isCollapsed" class="sider-logo-text">DAAM RH</span>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="/jobs" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="solution" nzTheme="outline"></span>
        <span>Offres d'emploi</span>
      </li>
      <li nz-menu-item routerLink="/jobs/applications/my" routerLinkActive="ant-menu-item-selected" *ngIf="authService.isCandidate()">
        <span nz-icon nzType="file-text" nzTheme="outline"></span>
        <span>Mes candidatures</span>
      </li>
      <li nz-menu-item routerLink="/rh/recruitments" routerLinkActive="ant-menu-item-selected" *ngIf="authService.isRh() || authService.isAdmin()">
        <span nz-icon nzType="team" nzTheme="outline"></span>
        <span>Espace RH</span>
      </li>
      <li nz-menu-item routerLink="/profile" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="idcard" nzTheme="outline"></span>
        <span>Mon profil</span>
      </li>
      <li nz-menu-item *ngIf="authService.isAdmin()" (click)="goToAdmin()">
        <span nz-icon nzType="team" nzTheme="outline"></span>
        <span>Administration</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header class="user-header">
      <div class="header-left">
        <button nz-button nzType="text" class="trigger-btn" (click)="isCollapsed = !isCollapsed">
          <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"></span>
        </button>
        <h3 class="page-title">Espace personnel</h3>
      </div>

      <div class="header-right" *ngIf="currentUser">
        <nz-tag [nzColor]="'green'">{{ getRoleLabel(currentUser.role) }}</nz-tag>
        <a nz-dropdown [nzDropdownMenu]="userMenu" nzTrigger="click" class="user-dropdown">
          <nz-avatar
            [nzSize]="36"
            [nzSrc]="authService.resolveImageUrl(currentUser.profileImageUrl) || undefined"
            nzIcon="user"
            class="user-avatar"
          ></nz-avatar>
          <span class="user-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</span>
          <span nz-icon nzType="down" nzTheme="outline"></span>
        </a>
        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item routerLink="/profile">
              <span nz-icon nzType="user" nzTheme="outline"></span>
              Mon profil
            </li>
            <li nz-menu-item *ngIf="authService.isAdmin()" (click)="goToAdmin()">
              <span nz-icon nzType="setting" nzTheme="outline"></span>
              Administration
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="logout()">
              <span nz-icon nzType="logout" nzTheme="outline"></span>
              Déconnexion
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>

    <nz-content class="user-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
